<footer>
  <p>Here are some useful links, thank you</p>
  <nav>
    <!-- LINK TO UNCC WEBPAGE -->
    <a href="https://webpages.charlotte.edu/kphelps9/" target="_blank">Charlotte.edu</a>•
    <!-- LINK TO GITHUB COURSE SITE -->
    <a href="https://kaphelps33.github.io/" target="_blank">GitHub.io</a>•
    <!-- LINK TO GITHUB PROFILE -->
    <a href="https://github.com/kaphelps33" target="_blank">GitHub</a>•
    <!-- LINK TO FREECODECAMP PROFILE -->
    <a href="https://www.freecodecamp.org/kphelps9" target="_blank">freeCodeCamp</a>•
    <!-- LINK TO CODECADEMY PROFILE -->
    <a href="https://www.codecademy.com/profiles/kphelps9" target="_blank">Codecademy</a>•
  </nav>
  <small>Page Built By: <a href="./phelpsventures.co/index.html">Phelps Ventures</a> © 2024 <a
      href="https://www.freecodecamp.org/certification/kphelps9/responsive-web-design" target="_blank">Certified in
      Responsive Web Design</a></small>
  <br>
  <a href="https://validator.w3.org/check?uri=referer">
    <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML."
      id="validation_link_html">
  </a>

  <a href="https://jigsaw.w3.org/css-validator/check/referer">
    <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS."
      id="validation_link_css">
  </a>
  <script>
    document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
  </script>
</footer>