<header>
  <h1>Kelsey Phelps' Kempt Platypus || ITIS 3135</h1>
  <nav>
    <a href="./">Home</a> •
    <a href="introduction.html">Introduction</a> •
    <a href="contract.html">Contract</a> •
    <a href="about.html">About</a> •
    <a href="website_evaluations.html">Website Evaluations</a>
  </nav>
  <hr>
  <nav>
    <a href="./stuff/iNde!.htm">Crappy Webpage</a>
  </nav>
  <strong>Elegantia praeteriti, legatum futurum</strong>
  <br>
  <small>"The elegance of the past, the legacy for the future"</small>
</header>